@page "{deviceId:int}"
@model MyDevice.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h2>@Model.Device.Name</h2>
<div>Id         : @Model.Device.Id</div>
<div>
    IP Address  : @Model.Device.IpAddress
</div>
<div>
    Type        : @Model.Device.Type
</div>
<div>
    Status      : @Model.Device.Status
</div>
<div>
    User        : @Model.Device.User
</div>

<a asp-page="./Index" class="btn btn-primary">All Devices</a>