@page
@model IndexModel
@{
    ViewData["Title"] = "Devices";
}

<h1>Devices</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>Name</th>
        <th>IP Address</th>
        <th>Device Type</th>
        <th>Detail</th>
    </tr>
    <tbody>
        @foreach (var device in Model.Devices)
        {
            <tr>
                <td>@device.Name</td>
                <td>@device.IpAddress</td>
                <td>@device.Type</td>
                <td>
                    <a class="btn-lg"
                       asp-page="./Detail" asp-route-deviceId="@device.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Logged in as @System.Security.Principal.WindowsIdentity.GetCurrent().Name</p>
